body {
  padding-top: 61px;
}
.navbar-header a.navbar-brand {
  margin-top: -16px;
  margin: bottom -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
footer {
  padding-left: 16px;
  padding-right: 16px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-grouop {
  margin-left: 30px;
}
.navbar-form button {
  margin-left: 10px;
}
