extends ../includes/layout

block main-content
	.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header 
				a.navbar-band(href="/") MultiVision
					h6 -Extreame Tech Training
			.navbar-collapse.collaps
				ul.nav.navbar-nav
					li
						a(href="/") Home
				div(ng-include="'/partials/account/navbar-login'")
	section.content			
			div(ng-view)

	footer.container.text-center
		p &copy 2014