extends ../includes/layout

block main-content
	.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header 
				a.navbar-band(href="/") MultiVision
					h6 -Extreame Tech Training
			.navbar-collapse.collaps
				ul.nav.navbar-nav
					li
						a(href="/") Home
	section.content
		div(ng-view)
			{{ myVar }} 

	footer.container.text-center
		p &copy 2014